<form fxLayout="row" #f="ngForm" (ngSubmit)="sendPost()">
  <div>
    <mat-form-field class="full-width" appearance="fill">
      <mat-label>Your name</mat-label>
      <input matInput placeholder="Enter your name" ngModel name="name">
    </mat-form-field>
    <mat-form-field class="full-width" appearance="fill">
      <mat-label>Your message</mat-label>
      <textarea matInput placeholder="Enter your message" ngModel name="message" required></textarea>
    </mat-form-field>
    <mat-form-field class="full-width" appearance="fill">
      <mat-label>Your image</mat-label>
      <app-file-input ngModel name="image"></app-file-input>
    </mat-form-field>
  </div>
  <div>
    <button mat-icon-button color="warn" type="submit"
            [disabled]="f.invalid">
      <mat-icon>send</mat-icon>
    </button>
  </div>
</form>
