mat-card
  margin-bottom: 10px
  background: rgba(0, 0, 0, 0.42)
  color: #fff
  padding: 5px 15px

mat-card-content
  padding: 5px 15px

img
  width: 100%
  height: auto
  display: block

.mat-card-image:first-child
  margin: 0
