<mat-card fxLayout="row">
  <mat-card-content fxFlex="35">
    <img mat-card-image *ngIf="post.image" [src]="getImage(post.image)" alt="Author image">
  </mat-card-content>
  <mat-card-content fxFlex="65">
    <strong>Message:</strong>
    <p>
      {{ post.message }}
    </p>
    <strong>Author name: </strong>
    <i>{{ post.name | name }}</i>
  </mat-card-content>
</mat-card>
