<div>
  <div class="container">
    <h1>Posts</h1>
    <cdk-virtual-scroll-viewport itemSize="50" class="viewport">
      <app-post *ngFor="let post of posts" [post]="post"></app-post>
    </cdk-virtual-scroll-viewport>
    <app-create-post></app-create-post>
  </div>
</div>

